body {
background-color: yellow

}


.char1 {
  color : red;
  font-size: 4em;
  font-family: sans-serif;

}
.char2 {
  color : blue;
  font-size: 6em;
  font-family: sans-serif;
  }

  .char3 {
    color : red;
    font-size: 4em;
    font-family: sans-serif;
 }

.char4 {
  color : blue;
  font-size: 6em;
  font-family: sans-serif;
  }
  .char5 {
    color : blue;
    font-size: 6em;
    font-family: sans-serif;
    }
    .char6{
      color : red;
      font-size: 4em;
      font-family: sans-serif;
      }

      .char7 {
        color : blue;
        font-size: 6em;
        font-family: sans-serif;
        }
        .char8{
          color : red;
          font-size: 4em;
          font-family: sans-serif;
          }


          .char9 {
            color : blue;
            font-size: 6em;
            font-family: sans-serif;
            }


            .char10{
              color : red;
              font-size: 4em;
              font-family: sans-serif;
              }


              .char11 {
                color : blue;
                font-size: 6em;
                font-family: sans-serif;
                }


                .char12{
                  color : red;
                  font-size: 4em;
                  font-family: sans-serif;
                  }



                                .char13 {
                                  color : blue;
                                  font-size: 6em;
                                  font-family: sans-serif;
                                  }
